.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.title {
  background-color: rgb(179, 179, 179);
}
.bottom-space {
  height: 500px;
}

.car-number {
  font-family: 'Cabin', sans-serif;
  font-size: 18x;
}

.bottom-navigation-container {
  position: fixed;
  bottom: 0;
}

.bottom-navigation {
  width: "90%";
}

.bottom-navigation .navBtn {
  align-items: center;
  border: solid 1px black;
  border-radius: 2px;
  background-color: rgb(179, 179, 179);
  font-weight: 700;
}