.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.hidden {
  display: none!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  border: solid 1px black;
}

.bottom-space {
  height: 200px;
}

.car-number {
  font-family: 'Cabin', sans-serif;
  font-size: 15.5px;
  color: black;
}

.bottom-navigation-container {
  position: fixed;
  bottom: 0;
}

.bottom-navigation {
  width: "90%";
}

.bottom-navigation .navBtn {
  align-items: center;
  border: solid 1px black;
  border-radius: 2px;
  background-color: rgb(179, 179, 179);
  text-transform: "capitalize";
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  border: 0;
  border-radius: 3;
  border: solid 1px black!important;
  color: black;
}


.metro-search {
  border: solid 1px black!important;
  padding: 4px 0 4px 0;
  background-color: rgb(201, 201, 201);
  width: 100%;
}

.searchBtn {
  color: black;
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  border: solid 1px black!important;
  background-color: rgb(179, 179, 179)!important;
}

.search-input {
 text-align: center;
}

.big-letter {
  font-size: 20px;
}

.title-label {
  padding: 0!important;
  margin: 0!important;
}

.light-radio {
  color: orange!important;
  
}
.heavy-radio {
  color: red!important; 
}

.empty-radio {
  color: rgb(0, 164, 0)!important;
}

.metroCar {
  margin: 5px 0;
}