.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.hidden {
  display: none!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  padding: 7px 0;
  font-weight: 700;
  font-size: 20px;
  border: solid 1px black;
}


.big-letter {
  font-size: 24px;
}

.top-space {
  height: 73px;
}

.bottom-space {
  height: 200px;
}



.car-number {
  font-family: 'Cabin', sans-serif;
  font-size: 15.5px;
  color: black;
}

.bottom-navigation-container {
  position: fixed;
  bottom: 0;
}

.bottom-navigation {
  width: "90%";
}

.bottom-navigation .navBtn {
  align-items: center;
  font-size:  15px;
  border-radius: 2px;
  text-transform: "capitalize";
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  border: 0;
  border-radius: 3;
  border: solid 1px black!important;
  color: black;
}

.metro-search {
  border: solid 1px black!important;
  padding: 4px 0 4px 0;
  background-color: rgb(201, 201, 201);
  width: 100%;
}

.searchBtn {
  color: black;
  background: linear-gradient(rgb(179, 179, 179) 30%, #919191 70%);
  border: solid 1px black!important;
  background-color: rgb(179, 179, 179)!important;
}

.search-input {
 text-align: center;
}

.title-label {
  padding: 0!important;
  margin: 0!important;
}

.light-radio {
  color: orange!important;
  position: relative;
  bottom: 2px;
}
.heavy-radio {
  color: red!important; 
  position: relative;
  bottom: 2px;
}

.empty-radio {
  color: rgb(0, 164, 0)!important;
  position: relative;
  bottom: 2px;
}
.metroCar {
  margin: 5px 0;
}

#clock {
  background-color: rgb(201, 201, 201);
  border: solid 1px black;
}

.banner {
  background-color: rgb(131, 215, 148);
  
}

.radio-label .MuiTypography-root {
  position: relative;
  top:6px;
  font-size:10px;

  padding: 0;
  margin: 0;
}

.metro-header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.MuiBottomNavigationAction-label {
  font-weight: 700;
}

.Mui-selected {
  color: black!important;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.MuiBottomNavigationAction-root   .Mui-selected {
  border: solid 3px yellow!important;
}

.shipconWhite  {
  color: blue!important;
  border: solid 1px blue;
}

.MuiIcon-colorSecondary {
  color: yellow;
}

.shipconBrown {
  color: brown!important;
}



